.buttonWrapper {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	font-size: clamp(16px, 0.6vw + 10px, 32px);
	color: #c8c8c8;
	text-transform: uppercase;
	background: none;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 4px clamp(20px, 3vw, 60px);
	cursor: pointer;
	position: relative;
	width: 100%;
	transform: scale(1, 0.9);
	-webkit-font-smoothing: antialiased;
	transition: color 0.2s ease;
}

.buttonWrapper::before {
	content: "";
	position: absolute;
	inset: -10px 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	pointer-events: none;
	opacity: 0;
	margin: 0 5px;
	transition: opacity 0.3s ease;
}

.buttonWrapper:hover,
.buttonWrapper.active {
	color: #fff;
}

.buttonWrapper:hover::before,
.buttonWrapper.active::before {
	background-image: url("../assets/icons/border.svg");
	opacity: 1;
	animation: pulseBorder 1s infinite ease-in-out;
}

@keyframes pulseBorder {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
